<?xml version="1.0" encoding="utf-8"?>
%svg(viewBox="0 0 161 161" xmlns="http://www.w3.org/2000/svg")
  %defs
    %rect(id="grey-box"
      class="grey-fill"
      width="40"
      height="40")
    %rect(id="red-box"
      class="red-fill"
      width="40"
      height="40")
  %g
    %use(href="#grey-box" x="20.5" y="20.5")
    %use(href="#grey-box" x="60.5" y="20.5")
    %use(href="#grey-box" x="100.5" y="20.5")
    %use(href="#grey-box" x="20.5" y="60.5")
    %use(href="#red-box" x="60.5" y="60.5")
    %use(href="#grey-box" x="100.5" y="60.5")
    %use(href="#grey-box" x="20.5" y="100.5")
    %use(href="#grey-box" x="60.5" y="100.5")
    %use(href="#grey-box" x="100.5" y="100.5")
  %g
    - 4.times do |n|
      %line(class="black-stroke"
        x1="#{(40 * n) + 20.5}"
        y1="0.5"
        x2="#{(40 * n) + 20.5}"
        y2="160.5")
    - 4.times do |n|
      %line(class="black-stroke"
        x1="0.5"
        y1="#{(40 * n) + 20.5}"
        x2="160.5"
        y2="#{(40 * n) + 20.5}")
