---
directory_index: false
layout: false
---

<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <link rel="stylesheet" href="../minesweeper-common/minesweeper-2.css" />
  </head>

  <body>
    <script src="../minesweeper-common/jquery.js"></script>
    <script src="./minesweeper.js"></script>
  </body>
</html>
