!!! XML
%svg(height="168px" version="1.1" viewbox="0 0 531 168" width="531px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  %title Step 2
  %desc Created with Sketch.
  %g(fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
    %rect(fill="#FFFFFF" height="168" width="531" x="0" y="0")
    %line(stroke="#000000" stroke-linecap="square" x1="370" x2="343" y1="68.5" y2="68.5")
    %line(stroke="#000000" stroke-linecap="square" x1="342.5" x2="342.5" y1="29.2255319" y2="134.774468")
    %g(transform="translate(370.000000, 49.000000)")
      %text(fill="#333333" font-family="IBM Plex Sans, sans-serif" font-size="18" font-weight="400" id="~")
        %tspan(x="45" y="25") .bashrc
      %g(stroke="#000000" stroke-width="1")
        %path(d="M0,2 L0,34.75 C1.3527075e-16,35.8545695 0.8954305,36.75 2,36.75 L32.6875,36.75 C33.7920695,36.75 34.6875,35.8545695 34.6875,34.75 L34.6875,7.62237244 C34.6875,7.09193946 34.4767863,6.58323163 34.1017136,6.20815887 L28.4793411,0.585786438 C28.1042684,0.210713681 27.5955605,-5.2585247e-15 27.0651276,0 L2,0 C0.8954305,2.02906125e-16 -1.3527075e-16,0.8954305 0,2 Z" fill="#F7EED7" fill-rule="evenodd")
        %line(stroke-linecap="square" x1="6.79980469" x2="27.7998047" y1="11.7148438" y2="11.7148438")
        %line(stroke-linecap="square" x1="6.79980469" x2="27.7998047" y1="19.7148438" y2="19.7148438")
        %line(stroke-linecap="square" x1="6.79980469" x2="17.7998047" y1="27.7148438" y2="27.7148438")
    %g(transform="translate(325.000000, 1.000000)")
      %g(fill="#F7EED7" fill-rule="nonzero" stroke="#000000" stroke-width="1")
        %path(d="M2.02454435,28 L32,28 C33.1045695,28 34,27.1045695 34,26 L34,7.13091119 C34,6.02634169 33.1045695,5.13091119 32,5.13091119 L15.4804212,5.13091119 C14.845846,5.13091119 14.2489247,4.82976432 13.871838,4.31938077 L11.2801329,0.811530421 C10.9030462,0.301146865 10.3061249,-1.22679261e-15 9.67154963,0 L2.31729113,0 C1.22223623,1.08933674e-15 0.330796152,0.880632805 0.317439903,1.97560625 L0.0246931153,25.9756062 C0.0112208187,27.0800936 0.895663258,27.9863789 2.0001506,27.9998512 C2.00828147,27.9999504 2.01641287,28 2.02454435,28 Z")
      %text(fill="#333333" font-family="IBM Plex Sans, sans-serif" font-size="18" font-weight="400" id="~")
        %tspan(x="44" y="21") ~/dotfiles
    %path(d="M316,61.5 L330,68.5 L316,75.5 L316,69.5 L161,69.5 L161,67.5 L316,67.5 L316,61.5 Z" fill="#5E50FF" fill-rule="nonzero")
    %line(stroke="#000000" stroke-linecap="square" x1="46" x2="19" y1="68.5" y2="68.5")
    %line(stroke="#000000" stroke-linecap="square" x1="18.5" x2="18.5" y1="29.2255319" y2="134.774468")
    %g(transform="translate(46.000000, 49.000000)")
      %text(fill="#333333" font-family="IBM Plex Sans, sans-serif" font-size="18" font-weight="400" id="~")
        %tspan(x="45" y="25") .bashrc
      %g(stroke="#000000" stroke-dasharray="2,2" stroke-width="1")
        %path(d="M0,2 L0,34.75 C1.3527075e-16,35.8545695 0.8954305,36.75 2,36.75 L32.6875,36.75 C33.7920695,36.75 34.6875,35.8545695 34.6875,34.75 L34.6875,7.62237244 C34.6875,7.09193946 34.4767863,6.58323163 34.1017136,6.20815887 L28.4793411,0.585786438 C28.1042684,0.210713681 27.5955605,-5.2585247e-15 27.0651276,0 L2,0 C0.8954305,2.02906125e-16 -1.3527075e-16,0.8954305 0,2 Z")
        %line(stroke-linecap="square" x1="6.79980469" x2="27.7998047" y1="11.7148438" y2="11.7148438")
        %line(stroke-linecap="square" x1="6.79980469" x2="27.7998047" y1="19.7148438" y2="19.7148438")
        %line(stroke-linecap="square" x1="6.79980469" x2="17.7998047" y1="27.7148438" y2="27.7148438")
    %g(transform="translate(1.000000, 1.000000)")
      %g(fill="#F7EED7" fill-rule="nonzero" stroke="#000000" stroke-width="1")
        %path(d="M2.02454435,28 L32,28 C33.1045695,28 34,27.1045695 34,26 L34,7.13091119 C34,6.02634169 33.1045695,5.13091119 32,5.13091119 L15.4804212,5.13091119 C14.845846,5.13091119 14.2489247,4.82976432 13.871838,4.31938077 L11.2801329,0.811530421 C10.9030462,0.301146865 10.3061249,-1.22679261e-15 9.67154963,0 L2.31729113,0 C1.22223623,1.08933674e-15 0.330796152,0.880632805 0.317439903,1.97560625 L0.0246931153,25.9756062 C0.0112208187,27.0800936 0.895663258,27.9863789 2.0001506,27.9998512 C2.00828147,27.9999504 2.01641287,28 2.02454435,28 Z")
      %text(fill="#333333" font-family="IBM Plex Sans, sans-serif" font-size="18" font-weight="400" id="~")
        %tspan(x="44" y="21") ~
    %line(stroke="#000000" stroke-dasharray="1,4" stroke-linecap="square" x1="342.5" x2="342.5" y1="134.5" y2="168")
    %line(stroke="#000000" stroke-dasharray="1,4" stroke-linecap="square" x1="18.5" x2="18.5" y1="134.5" y2="168")
