@import "../../../assets/stylesheets/shared-settings";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1em;
}

#board {
  height: 80vh;
  max-height: 200px;
  width: 80vh;
  max-width: 200px;

  @media (min-width: $larger-screen) {
    max-height: 300px;
    max-width: 300px;
  }
}

td {
  border: 1px solid black;
  cursor: pointer;
  width: 11.1111111%;
  height: 11.1111111%;
   text-align: center;
   vertical-align: center;
}

td:not(.uncovered):hover {
  background-color: #ddd;
}

td.future-mine:not(.uncovered):hover,
td.mine:not(.uncovered):hover {
  background-color: red;
}

.uncovered:not(.mine) {
  background-color: gray;
  color: white;
}

.uncovered.mine {
  background-color: black;
}
