<?xml version="1.0" encoding="utf-8"?>
%svg(viewBox="0 0 701 361" xmlns="http://www.w3.org/2000/svg")
  %g(class="board")
    - 9.times do |y|
      - 9.times do |x|
        %g(transform="translate(#{40 * x + 0.5} #{40 * y + 0.5})" class="cell")
          %rect(class="white-fill stroke" x="0" y="0" width="40.5" height="40.5")
          %text(x="20" y="20"
            text-anchor="middle"
            alignment-baseline="central"
            dominant-baseline="central")<
            = (9 * y) + x
  %g(class="hat" transform="translate(420, 170)")
    %g(class="hat-layer1")
      %ellipse(class="stroke white-fill" cx="107.853" cy="33.925" rx="71.551" ry="25.151")
      %ellipse(class="stroke white-fill" cx="110.902" cy="36.736" rx="57.361" ry="20.318")
      %path(class="stroke white-fill"
        d="M 161.15 52.148 C 161.15 52.148 172.525 28.556 109.783 28.556 C 47.041 28.556 61.147 52.617 61.147 52.617")
      %path(class="stroke white-fill"
        d="M 1.573 31.953 A 17 5 0 1 1 216.595 31.953 M 170.395 31.953 A 30 10 0 1 0 51.595 31.953")
    %g(class="hat-layer2")
    %g(class="hat-layer3")
      %path(class="stroke white-fill"
        d="M 52.118 70.725 C 52.118 70.725 58.159 121.223 54.021 149.599 C 51.678 165.665 78.193 177.875 112.218 177.806 C 143.058 177.745 174.611 169.645 170.575 146.522 C 165.303 116.318 169.561 70.821 169.561 70.821")
      %path(class="stroke white-fill"
        d="M 1.573 31.571 C 1.573 31.571 -0.625 38.782 1.573 43.055 C 3.771 47.328 25.96 75.864 110.87 75.864 C 195.78 75.864 213.384 47.002 216.27 43.055 C 219.156 39.108 216.595 30.953 216.595 30.953 C 216.595 30.953 163.408 58.113 111.62 58.113 C 59.832 58.113 1.573 31.571 1.573 31.571 Z")
      %path(class="stroke white-fill"
        d="M 53.15 80.965 C 53.15 80.965 74.464 93.453 111.774 93.453 C 149.084 93.453 168.674 80.555 168.674 80.555 L 168.181 98.19 C 168.181 98.19 145.428 110.517 111.918 110.517 C 78.408 110.517 54.466 99.27 54.466 99.27 L 53.15 80.965 Z")
      %path(class="stroke white-fill"
        d="M 1.573 30.953 A 13 5 0 1 0 216.595 30.953 M 170.395 30.953 A 30 10 0 1 1 51.595 30.953")
