name: Deploy elliotwinkler.com
on:
  push:
    branches:
      - main
jobs:
  deploy-personal-site:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy elliotwinkler.com in preview mode
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.DEPLOY_PERSONAL_SITE_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'mcmire',
              repo: 'elliotwinkler.com',
              workflow_id: 'deploy-to-vercel.yml',
              ref: 'main',
              inputs: {
                'vercel-environment': 'preview',
                'subrepo-name': context.repo.repo,
                'subrepo-pull-request-number': context.issue.number?.toString(),
                'subrepo-ref': process.env.GITHUB_REF_NAME,
              }
            })
